In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.shape

(39499, 15)

In [4]:
test.shape

(10500, 14)

In [5]:
print(train.isnull().sum())

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows         1654
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [6]:
print(test.isnull().sum())

Property_ID                 0
Property_Type               0
Property_Area               0
Number_of_Windows         445
Number_of_Doors             0
Furnishing                257
Frequency_of_Powercuts    366
Power_Backup                0
Water_Supply                0
Traffic_Density_Score       0
Crime_Rate                212
Dust_and_Noise            330
Air_Quality_Index           0
Neighborhood_Review         0
dtype: int64

In [9]:
y = train.iloc[:,-1]
train.drop(train.columns[-1],axis=1,inplace=True)

In [10]:
final = pd.concat([train,test]) #combining both dataset 
final.reset_index(inplace=True) #resetting indexes
final=final.iloc[:,1:]
final.shape

(49999, 14)

# cleaning Using KNN imputer and simple imputer

In [11]:
from sklearn.impute import SimpleImputer, KNNImputer

In [12]:
impute = SimpleImputer(strategy = "most_frequent")
knnimputer = KNNImputer(n_neighbors=25)

In [14]:
final2 = final.iloc[:,[3,6]]
final2 = knnimputer.fit_transform(final2)
final2 = pd.DataFrame(final2)

In [15]:
final3 = final.iloc[:,[5,10,11]]
final3 = impute.fit_transform(final3)
final3 = pd.DataFrame(final3)

In [16]:
final.iloc[:,3] = final2.iloc[:,0]
final.iloc[:,6] = final2.iloc[:,1]
final.iloc[:,5] = final3.iloc[:,0]
final.iloc[:,10] = final3.iloc[:,1]
final.iloc[:,11] = final3.iloc[:,2]

In [18]:
OHE = OneHotEncoder()
SS = StandardScaler()

In [20]:
fin2 = final.iloc[:,[1,5,7,8,10,11]]
fin2 = OHE.fit_transform(fin2)
fin2 = pd.DataFrame(fin2.toarray())

In [22]:
fin3 = final.iloc[:,[2,3,4,6,9,12,13]]
fin3 = SS.fit_transform(fin3)
fin3 = pd.DataFrame(fin3)

In [23]:
final = pd.concat([fin2,fin3],axis=1)
final

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,0,1,2,3,4,5,6
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,-0.664983,0.194113,-1.128415,-0.651581,-0.382456,-0.510910,0.156310
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,-0.339236,-0.731735,-0.280217,0.701786,-1.629444,-0.412596,-0.233093
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.337158,0.027157,-0.280217,-0.651581,0.897347,-0.002955,0.093503
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,-0.252474,-0.352289,-0.280217,2.055153,-0.160952,-0.347053,-3.009160
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.442659,3.821617,3.112578,-0.651581,-0.735222,-0.084883,1.299397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,-0.220783,0.194113,0.567982,-0.651581,-0.751630,-0.445367,-0.233093
49995,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,-0.573545,-1.111181,-0.280217,3.408519,0.298465,-0.248740,-1.049583
49996,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,13.538502,0.194113,-0.280217,-0.651581,2.398655,0.455842,0.357292
49997,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.033788,-0.731735,0.567982,0.701786,-0.087117,0.160901,-0.308461
49998,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,-0.419764,0.194113,-1.128415,-0.651581,-0.308621,-0.150426,0.520591

In [25]:
final.columns=[a for a in range(0,len(final.columns))]
train=final[:39499]
test=final[39499:]

In [28]:
def myregressor(x_train,x_test,y_train):
    rfr = RandomForestRegressor()
    rfr.fit(x_train,y_train)
    p= rfr.predict(x_test)
    return p

In [31]:
p= myregressor(train,test,y)

In [32]:
t2 = pd.read_csv("test.csv")
id = t2.iloc[:,0]
GetARoom= pd.DataFrame({"Property_ID":id,"Habitability_score":p})
GetARoom.to_csv("submit.csv",index=False)
pd.read_csv("submit.csv")

      Property_ID  Habitability_score
0          0x6e93             29.9360
1          0x8787             81.6540
2          0x6c17             67.1501
3          0x9dbd             74.9244
4          0xbfde             75.6296
...           ...                 ...
10495      0x423d             64.5696
10496      0x78c5             81.0448
10497       0xbf3             74.3075
10498      0x305b             79.5100
10499      0x5cff             79.4904

[10500 rows x 2 columns]

In [2]:
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.optimizers import Adam

ModuleNotFoundError: No module named 'tensorflow'